// Example: override Bootstrap color variables

$gray-50: #faf8f4 !default;
$gray-100: #f1ede5 !default;
$gray-200: #e4ddd1 !default;
$gray-300: #d2c8b8 !default;
$gray-400: #b6aa99 !default;
$gray-500: #938778 !default;
$gray-600: #71675b !default;
$gray-700: #514940 !default;
$gray-800: #302b25 !default;
$gray-900: #191612 !default;
$gray-950: #0d0b09 !default;
$primary: #17130f;
$secondary: #b88954;
$light: $gray-100 !default;
$border-color: $gray-100 !default;
$border-color-translucent:   $gray-100 !default;

$enable-negative-margins: true !default;
$enable-rounded:              true !default;

$headings-font-weight: 600 !default;
$grid-gutter-width:           2.5rem !default;

// scss-docs-start position-map
$position-values: (
   0: 0,
   10: 10%,
   25: 25%,
   50: 50%,
    60: 60%,
    65:65%,
    70: 70%,
   75: 75%,
   100: 100%,
   auto: auto
) !default;
// scss-docs-end position-map


// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$spacers: (
   0: 0,
   1: $spacer * 0.25,
   // 4px
   2: $spacer * 0.5,
   // 8px
   3: $spacer,
   // 16px
   4: $spacer * 1.5,
   // 24px
   5: $spacer * 2,
   // 32px
   6: $spacer * 2.5,
   // 40px
   7: $spacer * 3,
   // 48px
   8: $spacer * 4,
   // 64px
   9: $spacer * 5,
   // 80px
   10: $spacer * 6,
   // 96px
   11: $spacer * 8,
   // 128px
) !default;
// scss-docs-end spacer-variables-maps

$font-family-base: "Be Vietnam Pro", "Inter", system-ui, -apple-system, "Segoe UI", sans-serif !default;
$font-size-root:              null !default;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .85 !default;
$font-size-lg:                $font-size-base * 1.25 !default;

$font-xs: 0.75rem !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

// scss-docs-start border-radius-variables




$input-btn-padding-y: 1rem !default;
$input-btn-padding-x: 1.5rem !default;



$link-decoration:                         none !default;
$link-hover-color:                        $secondary !default;
$link-hover-decoration:                   underline !default;
